body,html{
  width: 100%;
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
}

#app{
 
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 place-items: center;

 gap: 2rem;
 background-color: rgba(234, 199, 215, 0.626);
 padding-bottom: 4rem;

}


#cat-quotes{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
input{
  padding: 0.5rem;
  width: 12rem;
}

button{
  height: 2rem;
  border-radius: .2rem;
  background-color:rgb(224, 157, 188) ;
}
#outputValue{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
#spinner{
  width: 100px;  
  height: 100px;
 border: 10px solid ;
 border-radius: 50%;

  border-top: 10px solid rgb(224, 157, 188);  
  border-left: 10px solid rgb(240, 234, 237);
  border-right: 10px solid rgb(240, 234, 237);
  border-bottom:10px solid  rgb(224, 157, 188);
  animation: spin 2s linear infinite; 
  display: none;
position: fixed;
top: 40%;
left: 45%;
transform: translate(-50%, -50%);
align-self: center;
z-index: 1000;


}

/* .imgSection{
  display: grid;
  
  gap: 1rem;
  flex-wrap: wrap;
} */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 @media screen and (max-width: 600px) {
  #app{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    align-items: center;
    justify-content: center;
  }

  #cat-quotes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: smaller;
  }
  #spinner{
    top: 60%;
  }
  
 }

 .imgCat{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;

 }
 @media (max-width: 44em) {
  .imgCat{
    grid-template-columns: repeat(2,1fr);
  }

  
 }
 @media (max-width: 400px) {
  .imgCat{
    grid-template-columns: repeat(1,1fr);
  
  }
 }


 